<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

function initMap() {
  var myLatLng = {lat: -25.363, lng: 131.044};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: myLatLng
  });

{% for m in markers %}
  var marker = new google.maps.Marker({
    position: {lat: {{ m.lat }}, lng: {{ m.lng }} },
    map: map,
    title: '{{ m.text }}'
  });
{% endfor %}


}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-xHywJR4MbOGnUPJWdEoaW5gSe4KtNpA&signed_in=true&callback=initMap"></script>
  </body>
</html>